<el-header justify="center" style="padding:0px">
  <el-row class="remark">
    <el-col :span="24">
      <span>telphone:15618947535</span>
    </el-col>
  </el-row>
  <el-row class="headerNav">
    <el-col :span="18">
      <a href="/#" class="logo-min">
      </a>
    </el-col>
    <el-col :span="6">
      <el-menu :default-active="activeIndex" class="el-header-menu" mode="horizontal" @select="handleSelect" text-color="#ffffff"
               active-text-color="#000000">
        <el-menu-item index="1">简介</el-menu-item>
        <el-menu-item index="2"><a href="/#" style="text-decoration:none">消息中心</a></el-menu-item>
        <!--<el-submenu index="3">-->
          <!--<template slot="title">订单管理</template>-->
          <!--<el-menu-item index="2-1">选项1</el-menu-item>-->
          <!--<el-menu-item index="2-2">选项2</el-menu-item>-->
        <!--</el-submenu>-->
      </el-menu>
    </el-col>
  </el-row>
</el-header>
